
:root {
    --main-color: #618298;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#SiteContainer {
    background-color: var(--main-color);
    padding: 5rem 10rem 5rem;
}

#FormContainer {
    background-color: white;
    border-style: solid;
    border-radius: 10px 10px 10px 10px;
    padding: 5rem;
}

.tradingTrainerTitle {
    color: #618298;
    margin-left: 3rem;
}

.landingNavigation > * {
    margin-left: 1rem;
}

header {
    margin-bottom: 5rem;
}


/* ----------[ LoginForm ] ---------------------*/
#LoginContainer {
    padding: 3rem;
}

/* ----------[ WaitingDisplay ] ---------------------*/
.waitingParent {
    position: relative;
}

.waitingContainer {
    background-color: rgba(212, 231, 244, 0.9);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 4rem 0;
    border-radius: 1rem 1rem 1rem 1rem;
}

.waitingContainer > p {
    font-size: 2.5em;
}

/* ----------[ Trading dashboard ] ---------------------*/
#TradingDashboardContainer {
    background-color: var(--main-color);
    padding: 1rem 5rem 1rem;
    display: grid;
    row-gap: 1rem;
    column-gap: 1rem;
    grid-template-areas: 'StockList StockList Quote'
                           'Search Search Search';
}

.dashboardContainer {
    background-color: white;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}

/* ----------[ StockList ] ---------------------*/
#StockListContainer {
    grid-area: StockList;
}

.stockListContainer {
    padding: 2rem;
}

.emptyTableDisp {
    margin: auto;
    padding: 2rem;
    background-color:rgba(212, 231, 244, 0.9);
    text-align: center;
}

.stockSelected {
    background-color:rgba(212, 231, 244, 0.9);
}

#StockListNavigation {
    background-color: white;
    border-radius: 0.5rem 0.5rem 0 0;
    height: 4rem;
    display: flex;
}

.navTab {
    padding: 1rem;
}

.navTab:hover {
    background-color:#0d6efd;
    color: white;
}

#WatchlistTab {
    border-radius: 0.5rem 0 0 0;
    order: 1;
}
#PortfolioTab {
    order: 2;
}
#HistoryTab {
    border-radius: 0 0.5rem 0 0;
    order: 4;
}
#StockMarketTab {
    order: 3
}

/* ----------[ StockQuote ] ---------------------*/
#QuoteContainer {
    grid-area: Quote;
    padding: 2rem;
}

#EmptyQuote {
    background-color:rgba(212, 231, 244, 0.9);
    text-align: center;
}


/* ----------[ DisplayUtilities ] ---------------------*/
.greenValue {
    background-color: green;
}

.redValue {
    background-color: red;
}

.coloredValue {
    color: white;
    border-radius: 3px 3px 3px 3px;
    margin: 5px;
    display: inline;
    padding: 5px 5px 5px;
}

/* ----------[ DisplayUtilities ] ---------------------*/

#ActionDialogContainer {
    padding:  2rem;
    display: grid;
    left: 0;
    top: 0;
    position: absolute;
    background-color: white;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    width: 100%;
    height: 100%;
    z-index: 1000;
    row-gap: 0.5rem;
    column-gap: 2rem;
    grid-template-areas: 'title title' 
                         'label1 static1' 
                         'label2 static2' 
                         'label3 static3' 
                         'label4 static4' 
                         'inputGroup1 inputGroup1' 
                         'errorMsg errorMsg'
                         'group group';
}


/* footer sin css*/
.main-footer {
    color: #fff;
    background-color: #444a51;
    padding-top: 7em;
    padding-bottom: 0em;
    position: relative;
    bottom: 0;
    width: 100%;
}
.container {
    height: 300px;
}

* {
    box-sizing: border-box;
}

.col {
    float: left;
    width: 10%;
    padding: 10px;
    height: 230px;
}


.row:after {
    content: close-quote;
    display: table;
    clear: both;
}
   